@import '../../base.css';

.progressSummary, .progressRecommendations {
    font-family: var(--font-family);
    font-size: 1rem;
    min-height: 5rem;
    height: auto;
    width: 100%;
    color: var(--dark-grey);
    border: solid var(--light-grey-bg);
    background-color: var(--white);
    line-height: 1.5625rem;
    border: 0.0625rem solid #dddbda;
    border-radius: 0.625rem;
    padding: 0.625rem 1.25rem;
    box-sizing: border-box; 
    margin-top: 0.625rem;
}
.progress__info-key-value  {
    padding: 1.25rem 0rem 0rem 0rem;
}
.dashboard__progress-top-info {
    background-color: var(--main-color-bg);
    padding-right: 1.5625rem;
} 
.dashboard__progress-list-container {
    padding-right: 1.5625rem;
    padding-bottom: 9.375rem; 
}
.message-warning {
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--purple);
}
.message-warning-secondary {
    font-weight: 400;
    font-family: var(--font-family);
    color: var(--dark-grey);
    margin-top: 0.625rem;
}

@media (max-width: 650px) {
    .dashboard__progress-top-info h3 {
        font-size: 0.875em;
    }
    .dashboard__progress-top-info {
        padding-right: 0.9375em;
    } 
    .dashboard__progress-list-container {
        padding-right: 0.9375em;
    }
}  
