@import '../../base.css';

.nav-bar {
  align-items: center;
  padding: 0.6rem 1rem;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  background-color: var(--main-color-bg);
  box-shadow: rgba(75, 7, 144, 0.1) 0 0.1rem 0.6rem ;
}
.nav-bar-logged-in {
  display: grid;
  grid-template-columns: 12.22rem 1fr 13rem;
  grid-template-rows: 1fr;
  grid-template-areas: "logo items profile";
}
.nav-bar-logged-out {
  display: grid;
  grid-template-columns: 12.22rem 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo profile";
}
.nav-bar-transparent {
  background-color: white;
}

.nav__logo-link {
  height: 1.8rem;
  margin-top: 0.4rem;
}
.nav__list {
  grid-area: items;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,minmax(100px,150px));
  grid-template-rows: 1fr;
  justify-self: center;
  text-align: center;
  color: var(--dark-grey);
  gap: 2.0rem;
  }
.nav__list-item {
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer 
}
.nav__list-item:hover {
  color: var(--color-button-primary-bg);
  transition: font-weight 0.2s ease-in-out;
  font-weight: 700;
}
.nav__right-column {
  grid-area: profile;
  display: flex;
  justify-self: end;
  gap: 0.6rem;
  margin-right: 0.6rem;
  justify-content: end;
}
.nav__profile-icon {
  height: 2.3rem;
  width: 2.3rem;
  cursor: pointer; 
  padding-right: 1.5rem;
  position: relative;
}
.nav__button {
    font-family: "Lexend", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.4rem 0.9rem;
    text-align: center;
    border-radius: 2rem;
    border: 0.1rem solid var(--color-button-primary-bg);
    box-sizing: border-box; 
    cursor: pointer;
    transition: outline 0.1s linear;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color:black;
    background-color: white;
}
.nav__button:hover, .nav__button:focus {
    background-color: var(--color-button-primary-bg);
    color: white;
}

.menu {
  display: none;
  cursor: pointer;
  }


.square {
  width: 0.5rem; 
  height: 0.5rem; 
  border-radius: 0.25rem; 
  background-color: transparent; 
  border: 0.1875rem solid;
  border-color: var(--dark-grey);
  flex-shrink: 0;
}
.dropdown-content__profile {
  background-color:var(--white);
  text-align: center;
  display: block;
  position: absolute;
  top: 100%; 
  right:2rem;
  min-width: 15.625rem;
  z-index: 1;
  color: black;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  box-shadow: 2px 2px 3px rgba(75, 7, 144, 0.1), -2px 2px 3px rgba(75, 7, 144, 0.1);
  transition: outline 0.1s linear;
}
.dropdown-content__profile h4 {
  display: block;
  margin: 1.25rem auto;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--dark-grey);
  font-family: Lexend, sans-serif;
}
.dropdown-content__profile h4 a {
  text-decoration: underline;
  font-weight: 400;
}
.icon__dropdown {
  width: 1.5625rem;
  height: 1.875rem;
  margin-right: 0.9375rem;
}
.dropdown-content__profile button{
    display: block;
    margin: 1.25rem auto 0rem auto;
}
.dropdown-content__profile .button.button--primary {
  width: 12.5rem;
  margin-inline-end: auto;
  margin-top: 1.875rem;
}
.dropdown-menu-button__profile {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 0.9375rem;
  margin-bottom: 0.9375rem;
  width: 100%;
  background-color: var(--white);
  color: black;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.625rem 1.875rem;
  border-radius: 0rem 0rem 0.625rem 0.625rem; 
}
.icon__dropdown,
.dropdown-menu-button__profile {
  vertical-align: middle; 
}
.dropdown-menu-button__profile:hover, .dropdown-menu-button__profile:focus {
  background-color: var(--lightest-grey-bg) ;
}

@media (max-width: 800px) {
  .menu {
    display: block;
    text-align: center;
    width: 1.6rem;
    height: 1.6rem;
  }
  .nav-text {
    position: absolute;
    width: 100vw;
    height: 25vh;
    background: #ECECEC;
    top: 3.6rem;
    left: -100%;
    padding-top: 2rem;
    transition: top 0.2s linear;
  }
  .dropdown-menu__visible {
    left: 0%;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-self: start;
    margin-left: 2rem;
  } 
}

@media (max-width: 650px) {
  .nav-text {
    font-size: 1rem;
  }
  .menu {
    width: 1.4rem;
    height: 1.4rem;
  }
  .dropdown-content__profile {
    min-width: 14rem;
  }
  .dropdown-content__profile h4 {
    display: block;
    margin: 1.25rem auto;
    font-size: 0.875rem;
  }
  .dropdown-content__profile h4 a {
    text-decoration: underline;
  }
  .icon__dropdown {
    width: 1.4rem;
    height: auto;
    margin-right: 0.9375rem;
  }
  .dropdown-content__profile button{
      display: block;
      margin: 1.0rem auto 0rem auto;
      font-size: 0.9rem;
  }
  .dropdown-content__profile .button.button--primary {
    width: 9.0rem;
    padding: 0.6rem;
    font-size: 0.9rem;
  }
  
}

@media (max-width: 420px) {
  .nav__button {
    display: none;
  }
    .nav-bar-logged-in {
    grid-template-columns: 9rem auto 5rem;
  }
}
@media (max-width: 390px) {
  .nav__right-column {
    margin-right: 0.8rem;
  }
  .nav__profile-icon {
    height: 1.8rem;
    width: 1.8rem;
    padding-right: 0rem;
  }
  
}

@media (max-width: 300px) {
  .nav-bar-logged-out {
    grid-template-columns: 8rem 1fr;
  }
}