@import '../../base.css';

.home-page {
  background-color: var(--main-color-bg);
}
.homepage__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container {
  width: 70%;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-column-gap: 0.85rem;
  grid-row-gap: 1.2rem;
  background-color: white;
  padding: 1.8rem 2.9rem;
  margin: 7rem auto 2.5rem auto;
  border-radius: 3.2rem;
}
.home__title{
  grid-area: 1 / 1 / 2 / 2;
  font-size: 2.25rem;
  padding: 0.95rem 0.95rem 0px 0.95rem;
  text-align: start;
  display: flex;
  align-items: center;
}
.home__subtitle{
  grid-area: 2 / 1 / 3 / 2;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--dark-grey);
  padding: 0px 0.625rem 0px 0.625rem;
  align-items: start;
  text-align: start;
}
.home__button {
  grid-area: 3 / 1 / 4 / 2;
  margin: 0.625rem 0 0 0.625rem;
  align-self: start;
  justify-self: start;
}
.home__img {
  grid-area: 1 / 2 / 4 / 3;
  height: auto;
  width:100%;
  max-width: 31.0rem;
  align-self: center;
  justify-self: center;
}
.home__board {
  width: 78%;
  margin: 0px auto 2.0rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.875rem;
  grid-row-gap: 0px;
}
.home__card {
  border-radius: 1.25rem;
  border: none;
  margin: 0.625rem 0 0 0;
  align-self: start;
  justify-self: start;
  font-size: 0.625rem;
  width: 100%;
  height: 100%;
}
.cardOne {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--light-coral-bg);
}
.cardTwo {
  grid-area: 1 / 2 / 2 / 3;
  background-color: var(--light-yellow-bg);
}
.cardThree {
  grid-area: 1 / 3 / 2 / 4;
  background-color: var(--light-orange-bg);
}
.cardFour {
  grid-area: 1 / 4 / 2 / 5;
  background-color: var(--light-purple-bg);
}
.icon__card{
  height: 2.2rem;
  padding: 1.5rem 0 0 1.5rem;
}
.home__card > h3 {
  font-size: 1.125rem;
  font-weight:700;
  font-family: AptosBold, sans-serif;
  color: black;
  padding: 15px 25px 10px 25px;
  }
.home__card > h4 {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  padding: 10px 25px 25px 25px;
}
.home__main-description, .home__note {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-weight: 400;
  padding: 35px;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.home__main-description > h2 {
  font-family: AptosBold, sans-serif;
  font-weight: 700;
  padding: 10px 0 30px 0;
}
.home__main-description > h3 {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 25px;
  padding: 0 0 10px 0;
  text-align: justify;
}
.home__note > h3 {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--dark-grey);
  font-size: 14px;
  line-height: 20px;
  padding: 0 0 10px 0;
  margin-bottom: 3rem;
  text-align: justify;
}

@media (min-width: 1500px) {
.home-container {
  width: 60%;
}
.home__board, .home__note, .home__main-description {
  width: 67%;
}
.home-container .home__button {
  height: 3rem;
  font-size: 1.2rem;
}
}

@media (max-width: 1500px) {
.home-container .home__button {
  height: 2.8rem;
  font-size: 1.2rem;
}
}

@media (max-width: 1000px) {
.home__title{
  font-size: 1.75rem;
}
.home__subtitle{
  font-size: 1.0625rem;
}
.home-container .home__button {
  height: 2.5rem;
  font-size: 1.0625rem;
}
.home__card > h3 {
  font-size: 1.05rem;
}
.home__card > h4 {
  font-size: 0.95rem;
}
.home__board, .home__main-description, .home__note {
  width: 82%;
  grid-column-gap: 0.625rem;
}
}

@media (max-width: 800px) {
.home-container {
  width: 80%;
  grid-column-gap: 0.3125rem;
  grid-row-gap: 0.625rem;
  padding: 1.25rem 1.875rem;
  border-radius: 2.5rem;
}
.home__title{
  font-size: 1.375rem;
}
.home__subtitle{
  font-size: 1rem;
}
.home-container .home__button {
  height: 2.188rem;
  font-size: 1rem;
}
.home__board {
  width: 90%;
}
.home__card > h3 {
  padding: 15px 20px 10px 20px;
  }
.home__card > h4 {
  padding: 10px 20px 20px 20px;
}
.home__main-description, .home__note {
  width: 88%;
}
}

@media (max-width: 650px) {
.home-container {
  width: 80%;
  grid-column-gap: 0rem;
  grid-row-gap: 1.25rem;
  padding: 1.25rem 1.25rem;
  border-radius: 1.875rem;
}
.home-container .home__button {
  height: 2.188rem;
  font-size: 0.875rem;
}
.home__board {
  width: 88%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 0 auto 0.5rem auto;
}
.cardOne {
  grid-area: 1 / 1 / 2 / 2;
}
.cardTwo {
  grid-area: 2 / 1 / 3 / 2;
}
.cardThree {
  grid-area: 3 / 1 / 4 / 2;
}
.cardFour {
  grid-area: 4 / 1 / 5 / 2;
}
.home__card{
  display: flex;
  flex-direction: column;
  align-items: start;
  height:fit-content; 
}
.home__card > h3 {
  padding: 5px 20px 5px 20px;
  font-size: 0.95rem;
}
.home__card > h4 {
  padding: 0px 20px 20px 20px;
  font-size: 0.95rem;
}
.icon__card{
  height: 1.5625rem;
  padding: 20px 0 10px 20px;
}
.home__main-description > h2 {
  font-size: 1rem;
}
.home__main-description, .home__note {
  width: 85%;
}
}

@media (max-width: 370px) {
.home__img {
  display: none;
}
.home-container {
  width: 70%;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 40% 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0.9375rem;
  background-color: white;
  padding: 0.9375rem 1.5625rem 1.5625rem 1.5625rem;
  margin: 5rem auto 1.25rem auto;
  border-radius: 1.5625rem;
}
.home__title{
  grid-area: 1 / 1 / 2 / 2;
  font-size: 1.25rem;
}
.home__subtitle{
  grid-area: 2 / 1 / 3 / 2;
  font-size: 1rem;
}
.home__button {
  grid-area:  3 / 1 / 4 / 2;
  margin: 0;
  align-self: start;
  justify-self: start
}
}