:root {
  --font-family: "Aptos", sans-serif;
  --FAMILY_AND_FRIENDS: #997AF1;
  --PERSONAL_DEVELOPMENT: #FD80A0;
  --HEALTH_AND_WELLNESS:  #FDB547;
  --CAREER: #6ea6d8;
  --LEISURE: #20B2AA;
  --FINANCIAL: #a1a1a1;
  --null: #d7d6d6;
  --white: #ffffff;
  --orange:  #FE914E;
  --purple: #4f5d97;
  --light-purple-bg:#ADAFCB;
  --light-coral-bg: #F9B1BC;
  --light-orange-bg: #FAB7B6;
  --light-yellow-bg: #F9D79F;
  --lightest-grey-bg: #ebeaea;
  --light-grey-bg: #d7d6d6;
  --grey-text: #a1a1a1;
  --dark-grey: #565656;
  --main-color-bg: #F2F2F2; 
  --color-text-on-primary: #000000;
  --color-text-on-primary-light: #a1a1a1;
  --color-button-primary-bg: #FE914E;
  --color-button-primary-text: white;
  --color-button-secondary-bg: white;
  --color-button-secondary-text: #FE914E;
  --color-button-border: var(--color-main-button-background);
}

@font-face {
  font-family: Aptos;
  src: url(./assets/fonts/aptos.ttf);
}
@font-face {
  font-family: AptosBold;
  src: url(./assets/fonts/aptos-bold.ttf);
}

* {
  margin:0;
  padding:0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: var(--main-color-bg);
  color:var(--color-text-on-primary);
  font-family:var(--font-family);
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
  height: 100vh;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.875rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  }

a:hover {
  font-weight: 700;
  transition: font-weight 0.4s ease-in-out;
  }

.button {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  border: 0.22rem solid var(--color-button-border);
  box-sizing: border-box; 
  cursor: pointer;
  transition: outline 0.1s linear;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover, .button:focus {
outline: 0.125rem solid var(--color-button-primary-bg);
}

.button--primary {
  background-color: var(--color-button-primary-bg);
  color: var(--color-button-primary-text);
}

.button--secondary {
  background-color: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
}

.button:not(button:last-of-type) {
margin-inline-end: 1.11rem;
}

.custom-loader {
  position: fixed;
  z-index: 2;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
} 